*{
    padding: 0;
    margin: 0;
    color: white;
    text-decoration-line: none;
}

a{
    color: white !important;
    text-decoration: none !important;
}

.footer_div{

    border-top: 1px solid #344057;
    padding-left: 15px;
}


.w-330_px {width: 330px;}
.w-300_px {width: 300px;}


.h-50_px {height: 50px;}
.h-100_px {height: 100px;}
.h-150_per {height: 150px;}
.h-450_per {height: 450px;}

.h-100_per {height: 100%;}
.h-100_full{height: 100%;}



.m-b-200-per{margin-bottom: 200%;}