    <!--   
    페이지 메뉴구성 
    1. only one          -- > 마이페이지   [자신의 정보 통계량 분석 페이지 [dashboard 역할]]
    2. planner           -- > [코딩 공부] 달력에 계획등록, 달성률 표시  == > 일별 활동한 내역 작성  
    3. error / tips      -- > [다른유저] 에러코드에 대한 조언이나  코딩짜면서 유용한 팁  
    4. developer_note    -- > 피드백
    -->


<div id="side_bar_up" class ="bgblack_Indigo h-100_full w-330_px dis-flex" style="flex-direction: column;  position: absolute; z-index: 20 ;">
  
    <!-- top -->
    <section>
        <div class ="w-330_px h-100_px">
            <div class ="text-left w-300_px p-t-25 fs-30 m-l-12 dis-flex h-45_px" style="flex-direction: row;">          
                    <div><i class="fab fa-artstation"></i>&nbsp;</div>
                    <div class="title_txt">Tictor</div>
                    <div class="m-l-100 p-r-10 p-l-10 m-t-10 fs-15" style=" border: 1px solid white; border-radius: 12px; height: 24px;"><a href="#">reversal</a></div>
                    
            </div>
            <div class="lh-0-5 fs-15 title_txt p-t-25">&emsp;&emsp;&emsp;&nbsp;planner manager</div>
        </div>
    </section>

    <!--conter -->    
    <section id="center_menu" class="h-450_per m-t-50 m-b-250 text-left fs-20" style="display: flex; flex-direction: column;">    
        <a href="#1"><div class="footer_div_up"><div class="w-full bgred h-50_px p-t-10" style="box-sizing: content-box;"><i class="far fa-id-badge p-r-15"></i>only one</div></div></a>
        <a href="#2"><div class="footer_div_up"><div class="w-full bgred h-50_px p-t-10" style="box-sizing: content-box;"><i class="far fa-list-alt p-r-15"></i>planner</div></div></a>
        <a href="#3"><div class="footer_div_up"><div class="w-full bgred h-50_px p-t-10" style="box-sizing: content-box;"><i class="far fa-comment-dots p-r-15"></i>error / tips</div></div></a>  
        <a href="#4"><div class="footer_div_up" style="border-bottom: 1px solid #344057;" style="box-sizing: content-box;"><div class="w-full bgred h-50_px p-t-10"><i class="fas fa-cog p-r-15"></i>developer note</div></div></a>
    </section>    

    <!--bottom -->
    <footer>
        <div style="border-top: 1px solid #344057; text-align: right;">
            <div class="w-full bgred h-50_px p-t-10 p-r-30">
                hide<i class="fas fa-angle-left p-l-15" onclick="side_bar_up()"></i>
            </div>
        </div>
    </footer>
 

</div>