<hr class="m-t-0 m-b-0" style="background-color: rgb(225,225,225); height: 1px;">
<div id="bottom" style="width : 100%; height : 10%; background-color: rgb(240,240,240); " class="p-l-500-per">
    <div style="color: black " class="p-t-20" >
        Copyright &copy; 2021 <i class="fas fa-circle fs-1" style="color: rgb(225,225,225);"></i>
        <span style="color: black;">&nbsp;&nbsp;jung uk jung</span>        
        <span class="footer-right" style="color: black;">&nbsp;&nbsp;2.3.0</span>  
    </div>
</div>  