<div class ="bgblack_Indigo h-100_per w-330_px dis-flex">
    <div class ="w-full h-100_px dis-flex">
        <div class ="text-left w-300_px m-t-20 fs-30 m-l-12" style="height: auto;">          
                <i class="fab fa-artstation"></i>&nbsp;Tictor
                <span class="m-l-100 p-r-10 p-l-10 m-b-20 fs-15" style=" border: 1px solid white; border-radius: 12px;"><a href="#">reversal</a></span>
                <div class="lh-0-5 fs-20">&emsp;&emsp;planner manager</div>

                <!--   
                    페이지 메뉴구성 
                    1. only one          -- > 마이페이지   [자신의 정보 통계량 분석 페이지 [dashboard 역할]]
                    2. planner           -- > [코딩 공부] 달력에 계획등록, 달성률 표시  == > 일별 활동한 내역 작성  
                    3. error / tips      -- > [다른유저] 에러코드에 대한 조언이나  코딩짜면서 유용한 팁  
                -->

        </div>
    </div>
</div>