<div id="top" style="width : 100%; height : 15%; background-color : white" class="p-l-330-per">

    <div class="p-l-30 p-t-30">


        <div style="color: black; padding: 10px; padding-top: 0px;" class="fs-18 ">{% block top_title_serve %}onlyone{% endblock %}</div>



        <div style="color: black; padding: 30px; padding-left: 10px; padding-top: 0; padding-bottom : 5px;  ;font-family: 'Do Hyeon', sans-serif;" class="fs-40 ">{% block top_title %}onlyone{% endblock %}</div>


        <hr class="m-t-0 m-b-0" style="background-color: rgb(225,225,225); height: 1px;">
        <div style="color: black; padding: 20px 0 15px 10px;">
            <a href="#"><span style="padding: 10px; border: 1px solid rgb(225,225,225); color: black; padding-left: 20px; padding-right: 20px;"><i class="fas fa-sync m-r-10" style="color: black;"></i>새로고침</span></a>
        </div>
    </div>
</div>